Source: djabberd
Section: perl
Priority: optional
Maintainer: Nick Andrew <nick@nick-andrew.net>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12), liblog-log4perl-perl, libnet-dns-perl, libnet-ssleay-perl, libxml-sax-perl, libxml-libxml-perl, libdanga-socket-perl
Standards-Version: 3.8.0
Homepage: http://danga.com/djabberd

Package: djabberd
Section: perl
Priority: optional
Architecture: all
Depends: ${perl:Depends}, libdjabberd-perl 
Suggests: djabberd-doc
Description: Distributed Jabber server
 djabberd is a high-performance, scalable, extensible Jabber/XMPP
 server framework. While it comes with an example server, it's
 really a set of classes for you to build your own Jabber server
 without understanding Jabber. Instead of working with XML and
 protocol-specific details, you subclass parts and work with sane
 objects and data structures and let DJabberd do all the ugly work.
 .
 Homepage: http://danga.com/djabberd/

Package: libdjabberd-perl
Section: perl
Priority: optional
Architecture: all
Depends: ${perl:Depends}, liblog-log4perl-perl, libnet-dns-perl, libnet-ssleay-perl, libxml-sax-perl, libxml-libxml-perl, libdanga-socket-perl
Suggests: openssl
Description: Core Modules for DJabberd
 djabberd is a high-performance, scalable, extensible Jabber/XMPP
 server framework. While it comes with an example server, it's
 really a set of classes for you to build your own Jabber server
 without understanding Jabber. Instead of working with XML and
 protocol-specific details, you subclass parts and work with sane
 objects and data structures and let DJabberd do all the ugly work.
 .
 Homepage: http://danga.com/djabberd/
 .
 This package contains the core libraries needed to build your
 own jabber server.

